.container,
form {
  display: flex;
  justify-content: space-between;
}

.container {
  flex-wrap: wrap;
}

form {
  justify-content: space-evenly;
  width: 50%;
  & button {
    margin-left: 7px !important;
    margin-top: 10px !important;
  }
}

.double-input {
  display: flex;
  & input {
    width: calc(50% - 14px);
  }
}

@media screen and (max-width: 586px) {
  form {
    width: 100%;
  }
}
