// ---------------------------------------------------------------- Slide Element 1

.first-element {
  position: relative;
  margin-top: 30px;
  & ul {
    position: relative;
    width: max-content;
    font-family: 'studio-medium-italic';
    list-style: none;
    @include fluid-type($min-width, $max-width, 20px, 40px);
    & li {
      margin-left: 30px;
    }
  }
  & h1 {
    @include fluid-type($min-width, $max-width, 30px, 70px);
  }
}

.glitch {
  position: relative;
  animation: paths 5s step-end infinite;
  &::after,
  ::before {
    content: attr(data-text);
    position: absolute;
    width: 115%;
    z-index: -1;
  }
  &::after {
    top: 5px;
    left: -10px;
    color: $element-color;
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 7s step-end infinite, movement 8s step-end infinite;
  }
  &::before {
    top: 10px;
    left: 15px;
    color: #e0287d;
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 8s step-end infinite, movement 10s step-end infinite;
  }
}

ul.glitch {
  animation: paths 10s step-end infinite;
  &::after,
  ::before {
    animation: paths 10s step-end infinite, opacity 10s step-end infinite,
      font 14s step-end infinite, movement 16s step-end infinite;
  }
}

.animate-out {
  opacity: 0;
}

@include desktop-nav {
  .first-element {
    margin-top: 200px;
  }
}

@include mobile {
  .first-element ul,
  .second-element ul {
    padding: 0;
  }
}

@include small-mobile {
  .first-element li {
    margin-left: 13px !important;
  }
  .row {
    width: 100% !important;
    & .card {
      width: 280px;
    }
  }
}

@include desktop {
  .three-box-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    right: 0;
  }
}

@media screen and (max-width: 906px) {
  .row {
    justify-content: center;
  }
}

// ---------------------------------------------------------------- Slide Element 2

.second-element {
  li::after {
    content: attr(data-value);
    position: relative;
    color: $element-color;
    @include fluid-type($min-width, $max-width, 10px, 15px);
    top: -17px;
    right: 0;
    left: 0;
  }
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  & .row {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    & .card {
      margin: 3px;
      width: 300px;
      height: 300px;
      & h3 {
        text-align: center;
      }
      & .project {
        height: 230px;
        background-color: green;
      }
    }
  }
  & .projects-filter {
    & li {
      list-style: none;
      padding: 30px 0px;
      & button {
        font-family: 'studio-light-italic';
        text-align: left;
        position: relative;
      }
    }
  }
}
