nav {
  z-index: 99;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  font-family: 'studio-bold';
  font-size: 18px;
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  & .navigator {
    padding: 28px 45px;
  }
}

.navigator {
  display: none;
}

@include desktop-nav {
  .mobile-nav {
    display: none;
  }
  .nav-lang-selector {
    align-items: center;
    position: absolute;
    bottom: -35px;
    right: 17px;
    display: flex;
    flex-direction: row;
  }
  .navigator {
    color: $nav-elements;
    display: flex;
    justify-content: space-between;
    width: 100%;
    & .nav-title h2 {
      font-size: 19px;
      font-weight: 100;
      letter-spacing: 8px;
      & .nav-animate-title {
        color: $element-color;
        -webkit-animation: flickerAnimation 1.5s infinite;
        -moz-animation: flickerAnimation 1.5s infinite;
        -o-animation: flickerAnimation 1.5s infinite;
        animation: flickerAnimation 1.5s infinite;
      }
    }
    & .row {
      display: flex;
      position: relative;
    }
    & ul.nav-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      & li:nth-child(1).active::before {
        animation: opacity-reveal 1s forwards;
      }
      & li:nth-child(2).active::before {
        animation: opacity-reveal 0.6s forwards, underline-nav 0.6s forwards;
      }
      & .nav-selector {
        position: relative;
        margin: 15px 30px;
        max-width: 85px;
        text-align: right;
        &.active {
          &::before {
            opacity: 0;
            transition: 1s all;
            content: '';
            position: absolute;
            background-color: $element-color;
            height: 4px;
            bottom: -7px;
            right: 12%;
            /* Firefox */
            width: -moz-calc(100% - 32%);
            /* WebKit */
            width: -webkit-calc(100% - 32%);
            /* Opera */
            width: -o-calc(100% - 32%);
            /* Standard */
            width: calc(100% - 32%);
          }
        }
        & span {
          position: absolute;
          font-size: 11px;
          top: -14px;
          right: 0px;
          &:before {
            position: absolute;
            width: 0;
            content: attr(data-value);
            background: $element-color;
            transition: 1s;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &.active:before {
            width: 100%;
          }
        }
        &.resume {
          color: $element-color;
          border: 1px solid;
          border-color: $element-color;
          border-radius: 20px;
          padding: 10px 30px;
        }
      }
    }
  }
}

@include mobile-nav {
  .burger {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    z-index: 2;
    position: absolute;
    top: 38px;
    right: 45px;
    width: 50px;
    height: 50px;
    & .two,
    .eight,
    .four,
    .six {
      transition: 0.4s;
    }
  }
  .toggle-nav {
    display: grid;
    cursor: pointer;
    width: 38px;
    height: 38px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    animation: rotate-burger-out 0.37s ease-in-out forwards;
    & .two {
      --translateX: 0px;
      --translateY: 14px;
      animation: animate-circle-out 0.37s;
    }
    & .four {
      --translateX: 14px;
      --translateY: 0px;
      animation: animate-circle-out 0.37s;
    }
    & .six {
      --translateX: -14px;
      --translateY: 0px;
      animation: animate-circle-out 0.37s;
    }
    & .eight {
      --translateX: 0px;
      --translateY: -14px;
      animation: animate-circle-out 0.37s;
    }
    & .toggle-style {
      background: $default-white;
      display: block;
      height: 7px;
      width: 7px;
      border-radius: 5px;
      border: 1px solid $default-white;
      background-color: unset;
    }
  }
  .burger:hover {
    .toggle-nav {
      animation: rotate-burger-in 0.7s forwards;
      & .two {
        animation: animate-circle-in 0.37s forwards;
      }
      & .four {
        animation: animate-circle-in 0.37s forwards;
      }
      & .six {
        animation: animate-circle-in 0.37s forwards;
      }
      & .eight {
        animation: animate-circle-in 0.37s forwards;
      }
    }
  }
  .burger.is-toggled {
    & .two,
    .eight,
    .four,
    .six {
      opacity: 0;
      transition: 0.7s;
    }
    &:hover {
      & .two,
      .eight,
      .four,
      .six {
        opacity: 1;
      }
    }
    & .toggle-close-style {
      display: flex;
      position: absolute;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      & span {
        width: 5px;
        height: 35px;
        border: 1px solid $default-white;
        border-radius: 25px;
        &:nth-child(1) {
          animation: scale-1-0-rotate 2.3s linear forwards;
        }
        &:nth-child(2) {
          position: absolute;
          rotate: 90deg;
          animation: scale-1-0-rotate 2.3s linear forwards;
        }
      }
      &.close-toggler span {
        &:nth-child(1) {
          animation: scale-0-1 1s ease-in-out forwards;
        }
        &:nth-child(2) {
          animation: scale-0-1 1s ease-in-out forwards;
        }
      }
    }
  }
  .mobile-nav {
    z-index: 1;
    position: fixed;
    background-color: $nav-toggle-color;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    & .row {
      display: grid;
      place-items: center;
      height: 100%;
      & ul {
        font-size: 1.5rem;
        display: grid;
        text-align: center;
        padding: 0;
        margin: 0;
        align-content: center;
        gap: 20px;
        list-style: none;
      }
      & .nav-lang-selector {
        position: absolute;
        bottom: 35px;
      }
    }
  }
}

.mobile-nav {
  animation: fade-in-three 0.3s linear forwards;
  & .nav-selector {
    &:nth-child(1) {
      animation: slide-in-nav 2s forwards;
    }
    &:nth-child(2) {
      animation: slide-in-nav 2s forwards;
    }
    &:nth-child(3) {
      animation: slide-in-nav 2s forwards;
    }
  }
  &.close-nav {
    animation: slide-out-nav 2s forwards;
  }
}
