nav {
  z-index: 99;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  font-family: 'studio-bold';
  font-size: 18px;
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  & .navigator {
    padding: 28px 45px;
  }
}

@keyframes animate-circle-in {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(var(--translateX), var(--translateY));
  }
}

@keyframes animate-circle-out {
  from {
    transform: translate(var(--translateX), var(--translateY));
  }
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes rotate-burger-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes rotate-burger-out {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.navigator {
  display: none;
}

@include desktop-nav {
  .mobile-nav {
    display: none;
  }
  .nav-lang-selector {
    align-items: center;
    position: absolute;
    bottom: -35px;
    right: 17px;
    display: flex;
    flex-direction: row;
  }
  .navigator {
    color: $nav-elements;
    display: flex;
    justify-content: space-between;
    width: 100%;
    & .nav-title h1 {
      font-family: 'fallecity-regular';
      font-weight: 100;
      letter-spacing: 8px;
      & .nav-animate-title {
        color: $element-color;
        -webkit-animation: flickerAnimation 1.5s infinite;
        -moz-animation: flickerAnimation 1.5s infinite;
        -o-animation: flickerAnimation 1.5s infinite;
        animation: flickerAnimation 1.5s infinite;
      }
    }
    & .row {
      display: flex;
      position: relative;
    }
    & ul.nav-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      & .nav-selector {
        position: relative;
        margin: 15px 30px;
        &.active {
          &::before {
            content: '';
            position: absolute;
            background-color: $element-color;
            height: 4px;
            bottom: -7px;
            right: 12%;
            /* Firefox */
            width: -moz-calc(100% - 32%);
            /* WebKit */
            width: -webkit-calc(100% - 32%);
            /* Opera */
            width: -o-calc(100% - 32%);
            /* Standard */
            width: calc(100% - 32%);
          }
        }
        & span {
          position: absolute;
          font-size: 9px;
          top: -14px;
          right: 0px;
          &.active {
            color: $element-color;
          }
        }
        &.resume {
          color: $element-color;
          border: 1px solid;
          border-color: $element-color;
          border-radius: 20px;
          padding: 10px 30px;
        }
      }
    }
  }
}

@include mobile-nav {
  .toggle-nav {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    display: grid;
    cursor: pointer;
    top: 38px;
    right: 45px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    animation: rotate-burger-out 0.37s;
    & .two {
      --translateX: 0px;
      --translateY: 14px;
      animation: animate-circle-out 0.37s;
    }
    & .eight {
      --translateX: 0px;
      --translateY: -14px;
      animation: animate-circle-out 0.37s;
    }
    & .four {
      --translateX: 14px;
      --translateY: 0px;
      animation: animate-circle-out 0.37s;
    }
    & .six {
      --translateX: -14px;
      --translateY: 0px;
      animation: animate-circle-out 0.37s;
    }
    &:hover,
    .is-toggled {
      animation: rotate-burger-in 0.7s forwards;
      & .two {
        animation: animate-circle-in 0.37s forwards;
      }
      & .eight {
        animation: animate-circle-in 0.37s forwards;
      }
      & .four {
        animation: animate-circle-in 0.37s forwards;
      }
      & .six {
        animation: animate-circle-in 0.37s forwards;
      }
    }
    & .toggle-style {
      background: $default-white;
      display: block;
      height: 7px;
      width: 7px;
      border-radius: 5px;
      border: 1px solid $default-white;
      background-color: unset;
    }
  }

  .mobile-nav {
    z-index: 1;
    position: absolute;
    background-color: $nav-toggle-color;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    & .row {
      display: grid;
      place-items: center;
      height: 100%;
      & ul {
        font-size: 1.5rem;
        display: grid;
        text-align: center;
        padding: 0;
        margin: 0;
        align-content: center;
        gap: 20px;
        list-style: none;
      }
      & .nav-lang-selector {
        position: absolute;
        bottom: 35px;
      }
    }
  }
}
