nav {
  display: flex;
  justify-content: flex-end;
  font-family: 'studio-bold';
  font-size: 20px;
  padding: 45px;
}

.navigator {
  display: none;
}

@include desktop {
  .navigator {
    color: $nav-elements;
    display: flex;
    justify-content: space-between;
    width: 100%;
    & .nav-title h1 {
      font-family: 'fallecity-regular';
      font-weight: 100;
      letter-spacing: 8px;
      & .nav-animate-title {
        color: $element-color;
        -webkit-animation: flickerAnimation 1.5s infinite;
        -moz-animation: flickerAnimation 1.5s infinite;
        -o-animation: flickerAnimation 1.5s infinite;
        animation: flickerAnimation 1.5s infinite;
      }
    }
    & .row {
      display: flex;
    }
    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
      &.nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        & .nav-selector {
          position: relative;
          margin: 15px 30px;
          &.active {
            &::before {
              content: '';
              position: absolute;
              background-color: $element-color;
              height: 4px;
              bottom: -7px;
              right: 12%;
              /* Firefox */
              width: -moz-calc(100% - 32%);
              /* WebKit */
              width: -webkit-calc(100% - 32%);
              /* Opera */
              width: -o-calc(100% - 32%);
              /* Standard */
              width: calc(100% - 32%);
            }
          }
          & span {
            position: absolute;
            font-size: 11px;
            top: -14px;
            right: 0px;
            &.active {
              color: $element-color;
            }
          }
          &.resume {
            color: $element-color;
            border: 1px solid;
            border-color: $element-color;
            border-radius: 20px;
            padding: 10px 30px;
          }
        }
      }
    }
  }
}

@include mobile {
  .toggle-nav {
    z-index: 2;
    position: absolute;
    display: grid;
    height: 25px;
    cursor: pointer;
    top: 38px;
    right: 45px;
    & .toggle-style {
      background: $default-white;
      display: block;
      height: 4px;
      width: 35px;
      border-radius: 5px;
      &.top {
        top: 18%;
        &.rotate-on {
          transition: all 1s ease;
          transform: rotate(45deg);
        }
        &.rotate-off {
          transition: all 1s ease;
          transform: rotate(0deg);
        }
      }
      &.middle {
        top: 48%;
        width: 30px;
        &.rotate-on {
          position: inherit;
          top: 18%;
          width: 34px;
          transition: all 1s ease;
          transform: rotate(-45deg);
        }
        &.rotate-off {
          transition: all 1s ease;
          transform: rotate(0deg);
        }
      }
      &.bottom {
        top: 78%;
        width: 25px;
        &.rotate-on {
          opacity: 0;
          animation: fadeOut 1s;
        }
        &.rotate-off {
          opacity: 1;
          transition: all 1s ease;
          transform: translateX(0px);
        }
      }
    }
  }

  .mobile-nav {
    position: absolute;
    background-color: $nav-toggle-color;
    height: 100%;
    width: 100%;
    & .row {
      display: grid;
      place-items: center;
      height: 100%;
      & ul {
        font-size: 1.5rem;
        display: grid;
        text-align: center;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-content: center;
        gap: 20px;
        list-style: none;
      }
    }
  }
}
