.section-title {
   margin: 60px auto;
   width: fit-content;
   position: relative;

   &::before,
   &::after {
      content: "";
      display: block;
      width: 150px;
      height: 3px;
      background: $default-white;
      top: 50%;
      position: absolute;
   }

   &::before {
      left: 120%;
   }

   &::after {
      right: 120%;
   }

   @include mobile-nav {

      &::before,
      &::after {
         width: 65px;
      }
   }
}

.swiper {
   margin-top: 80px;
   aspect-ratio: 7 / 4;
   width: 85%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-button-prev,
.swiper-slide-next,
.swiper-button-next {
   bottom: 3%;
   top: initial !important;
   color: $element-color !important;
}

.swiper-pagination-bullet-active {
   background: $element-color !important;
}