@keyframes animate-border {
  0% {
    background-size: 0 0, 0 0, 0 0, 0 0;
  }
  25% {
    background-size: 100% 2, 0 0, 0 0, 0 0;
  }
  50% {
    background-size: 100% 2, 2 100%, 0 0, 0 0;
  }
  75% {
    background-size: 100% 2, 2 100%, 100% 2, 0 0;
  }
  100% {
    background-size: 100% 2, 2 100%, 100% 2, 2 100%;
  }
}

@keyframes error-slide {
  from {
    height: 0%;
  }
  to {
    height: 100%;
    margin: 8px;
  }
}

@keyframes error-slide-out {
  from {
    height: 20px;
    margin: 8px;
  }
  to {
    margin: 0px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
  }
}