$body-color: #141419;
$nav-toggle-color: #212128;
$nav-elements: hsl(214, 33%, 88%);
$element-color: #7923ad;
$default-white: #fff;
$input-color: #28283D;
$light-blue: #6363f9;
$classic-yellow-white: rgb(240, 223, 191);

// ---------------------------------------------------------------- fonts adjustments

$min-width: 320px;
$max-width: 1200px;
$min-font: 16px;
$max-font: 21px;
