@font-face {
  font-family: 'studio-bold';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-Bold.otf');
}

@font-face {
  font-family: 'studio-regular';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-Regular.otf');
}

@font-face {
  font-family: 'studio-semi-bold-italic';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-SemiboldItalic.otf');
}

@font-face {
  font-family: 'studio-medium-italic';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-MediumItalic.otf');
}

@font-face {
  font-family: 'studio-regular-italic';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-RegularItalic.otf');
}

@font-face {
  font-family: 'studio-light-italic';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-LightItalic.otf');
}

@font-face {
  font-family: 'studio-ultra-light-italic';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-UltralightItalic.otf');
}

@font-face {
  font-family: 'roboto-bold';
  src: url('/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'roboto-regular';
  src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'roboto-bold-italic';
  src: url('/fonts/Roboto/Roboto-BoldItalic.ttf');
}

@font-face {
  font-family: 'roboto-italic';
  src: url('/fonts/Roboto/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'roboto-light';
  src: url('/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'roboto-light-italic';
  src: url('/fonts/Roboto/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: 'roboto-medium-italic';
  src: url('/fonts/Roboto/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'roboto-thin-italic';
  src: url('/fonts/Roboto/Roboto-ThinItalic.ttf');
}