@font-face {
  font-family: 'studio-bold';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-Bold.otf');
}

@font-face {
  font-family: 'studio-regular';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-Regular.otf');
}

@font-face {
  font-family: 'studio-semi-bold-italic';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-SemiboldItalic.otf');
}

@font-face {
  font-family: 'studio-medium-italic';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-MediumItalic.otf');
}

@font-face {
  font-family: 'studio-regular-italic';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-RegularItalic.otf');
}

@font-face {
  font-family: 'studio-light-italic';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-LightItalic.otf');
}

@font-face {
  font-family: 'studio-light-italic';
  src: url('/fonts/studioFeixe/StudioFeixenSansTRIAL-LightItalic.otf');
}

@font-face {
  font-family: 'fallecity-regular';
  src: url('/fonts/fallecityGosttely/Fallecity-Gosttely.otf');
}
