@import 'components/variables/_var';
@import 'components/fonts/_fonts';
@import 'components/keyframes/_nav';
@import 'components/keyframes/_glitch';
@import 'components/keyframes/_mouse';
@import 'components/keyframes/_inputs';
@import 'components/keyframes/_buttons';
@import 'components/keyframes/_text';
@import 'components/keyframes/_sections';
@import 'components/mixins/_mixins';
@import 'components/layoutHeader';
@import 'components/index';
@import 'components/form';

//TODO: move keyframes to each corresponding scss 
body {
  background-color: $body-color;
  color: $default-white;
  @include fluid-type($min-width, $max-width, $min-font, $max-font);
  &.no-scroll {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  @include fluid-type($min-width, $max-width, $min-font, 16px);
}

h2 {
  @include fluid-type($min-width, $max-width, 30px, 90px);
  font-family: 'studio-medium-italic';
}

h4,
input,
textarea {
  font-family: 'studio-regular-italic';
}

b {
  font-family: 'studio-semi-bold-italic';
}

html,
body,
.main-content {
  font-family: 'studio-light-italic';
  height: 100%;
}

section {
  padding: 45px;
  margin-bottom: 90px;
}

html {
  scroll-behavior: smooth;
}

input,
textarea {
  padding: 13px;
  @include fluid-type($min-width, $max-width, $min-font, 18px);
  background-color: $input-color;
  border: 2px solid $body-color;
  margin: 0px 5px;
  color: $classic-yellow-white;
  outline: none;
  box-shadow: none;
  resize: none;
  margin: 5px;
  &:focus {
    animation: animate-border 0.7s;
    background-image: linear-gradient(to right, $element-color, $light-blue),
      linear-gradient(to bottom, $element-color, $light-blue),
      linear-gradient(to right, $element-color, $light-blue),
      linear-gradient(to bottom, $element-color, $light-blue);
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    background-repeat: no-repeat;
  }
}

button {
  border: none;
  background: none;
  color: $default-white;
  font-family: 'studio-bold';
  font-size: 18px;
  margin: 0px 5px;
  cursor: pointer;
}

button[type='submit'] {
  width: 200px;
  padding: 20px;
  border: 2px solid $element-color;
  font-family: 'studio-light-italic';
  &:focus {
    outline: none;
  }
  &:hover,
  &:focus {
    animation: scan-effect 0.5s ease-out;
    background-image: linear-gradient(to right, $element-color, $light-blue),
      linear-gradient(to bottom, $element-color, $light-blue),
      linear-gradient(to right, $element-color, $light-blue),
      linear-gradient(to bottom, $element-color, $light-blue);
    background-position: 0 100%, 100% 0, 100% 100%, 0 100%;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    background-repeat: no-repeat;
  }
  &.active-animation {
    animation: fill-button 1s forwards;
  }
}

textarea {
  height: 300px;
}

form {
  flex-direction: column;
}

.main-app {
  overflow: hidden;
  &.burger-toggled {
    overflow: hidden;
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1.5px solid $default-white;
  border-radius: 50%;
  pointer-events: none;
  &.click-effect {
    animation: cursorAnim 0.5s forwards;
  }
  &::after {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: $default-white;
    border-radius: 200px;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.widget-scroll {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0px;
  right: 0px;
  margin: auto;
  height: 55px;
  width: 30px;
  border-radius: 200px;
  background: $body-color
    linear-gradient(
      transparent 0%,
      transparent 50%,
      $default-white 50%,
      $default-white 100%
    );
  background-size: 100% 200%;
  animation: color-change 5.9s linear infinite,
    slide-in-up 1.5s ease-in forwards, position-animate 6s ease-out infinite;
  &::after {
    position: absolute;
    content: '';
    width: 87%;
    height: 92%;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 200px;
    background-color: $body-color;
  }
  & .widget-scroll-inside {
    z-index: 1;
    position: absolute;
    top: 13%;
    height: 7px;
    width: 7px;
    background-color: $default-white;
    border-radius: 20px;
    animation: scroll-middle-mouse 2s infinite;
  }
}

.contact-right-container {
  & li {
    padding-left: 25px;
  }
  & ul.contact-ul-pizza {
    margin-left: 30px;
  }
}

button span:hover {
  background: linear-gradient(
    to left,
    rgb(150, 150, 150),
    $default-white,
    $default-white
  );
  animation: animate-text-color 1.6s linear infinite;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#projects,
#contact {
  opacity: 0;
  overflow-y: auto;
  &.animate {
    animation: fade-in-three 1.5s forwards;
  }
}

.product-enter {
  animation: fade-in-three 1s forwards;
}

.product-exit {
  animation: outer 1s forwards;
}
