@import 'components/variables/_var';
@import 'components/fonts/_fonts';
@import 'components/keyframes/_nav';
@import 'components/keyframes/_glitch';
@import 'components/keyframes/_mouse';
@import 'components/keyframes/_inputs';
@import 'components/keyframes/_buttons';
@import 'components/keyframes/_text';
@import 'components/keyframes/_sections';
@import 'components/mixins/_mixins';
@import 'components/layoutHeader';
@import 'components/index';
@import 'components/slug';
@import 'components/loader';
@import 'react-toastify/dist/ReactToastify.css';

:root {
  --toastify-color-success: #B191FF !important;
  --toastify-color-error: #EF233C !important;
  --toastify-spinner-color: #B191FF !important;
}

body {
  background-color: $body-color;
  color: $default-white;
  cursor: default;
  margin: 0;
  @include fluid-type($min-width, $max-width, $min-font, $max-font);

  max-width: $max-width-body;
  margin: auto;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;

  & span.external-link {
    color: $element-color
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  @include fluid-type($min-width, $max-width, $min-font, 16px);
}

code {
  display: grid;
  @include fluid-type($min-width, $max-width, $min-font, 20px);
  text-align: center;
  grid-gap: 12px;

  & a {
    border: 1px solid $classic-yellow-white;
    color: $classic-yellow-white;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
  }
}

h2 {
  @include fluid-type($min-width, $max-width, 30px, 90px);
  font-family: $medium-italic-font;
}

h4,
input,
textarea {
  font-family: $regular-font;
}

article {
  text-align: justify;
  hyphens: auto;

  & img {
    margin-top: 40px;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

b {
  font-family: $semibold-italic-font;
}

html,
body,
.main-content {
  font-family: $light-italic-font;
  height: 100%;
}

section,
footer {
  padding: 45px;
  margin-bottom: 90px;
}

html {
  scroll-behavior: smooth;
  height: auto;
}

input,
textarea {
  z-index: 3;
  padding: 13px;
  @include fluid-type($min-width, $max-width, $min-font, 18px);
  background-color: $input-color;
  border: 2px solid $body-color;
  color: $classic-yellow-white;
  outline: none;
  box-shadow: none;
  resize: none;
  margin: 5px;

  &:focus {
    animation: animate-border 0.7s;
    background-image: linear-gradient(to right, $element-color, $light-blue),
      linear-gradient(to bottom, $element-color, $light-blue),
      linear-gradient(to right, $element-color, $light-blue),
      linear-gradient(to bottom, $element-color, $light-blue);
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    background-repeat: no-repeat;
  }

  &:disabled {
    color: #7a7474;
    background-color: #262626;
  }
}

button {
  border: none;
  background: none;
  color: $default-white;
  font-family: $bold-font;
  font-size: 18px;
  margin: 0px 5px;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
  }
}

button[type='submit'],
#about button[type='button'] {
  width: 200px;
  padding: 20px;
  border: 2px solid $element-color;
  font-family: $light-italic-font;

  &:focus {
    outline: none;
  }

  &:hover:not(:disabled),
  &:focus {
    animation: scan-effect 0.5s ease-out;
    background-image: linear-gradient(to right, $element-color, $light-blue),
      linear-gradient(to bottom, $element-color, $light-blue),
      linear-gradient(to right, $element-color, $light-blue),
      linear-gradient(to bottom, $element-color, $light-blue);
    background-position: 0 100%, 100% 0, 100% 100%, 0 100%;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    background-repeat: no-repeat;
  }

  &.active-animation {
    animation: fill-button 1s forwards !important;
  }
}

textarea {
  height: 300px;
}

form {
  flex-direction: column;
}

#home,
#projects,
#project,
#contact,
#about {
  opacity: 0;

  &.animate {
    animation: fade-in-three 1.5s forwards;
  }

  &.animate-out {
    animation: fade-out-three 0.5s forwards;
  }
}

.main-app {
  overflow: hidden;

  &.burger-toggled {
    overflow: hidden;
  }
}

.cursor-circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1.5px solid $default-white;
  border-radius: 50%;
  pointer-events: none;

  &.hover-leave {
    --color-hover: $light-blue;
  }

  &.button-hover,
  &.hover-leaver {
    --color-hover: $classic-yellow-white-opacity;
  }

  &.button-hover,
  &.href-hover,
  &.hover-leaver {
    animation: animate-hover 0.3s ease-in-out forwards;
  }

  &.button-out {
    animation: animate-hover-out 0.3s ease-in-out forwards;
  }

  &.click-effect {
    animation: cursorAnim 0.5s forwards;
  }

  &::after {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: $default-white;
    border-radius: 200px;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.widget-scroll {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  height: 55px;
  width: 30px;
  border-radius: 200px;
  background: $body-color linear-gradient(transparent 0%,
      transparent 50%,
      $default-white 50%,
      $default-white 100%);
  background-size: 100% 200%;
  animation: color-change 5.9s linear infinite,
    slide-in-up 1.5s ease-in forwards, position-animate 6s ease-out infinite;

  &::after {
    position: absolute;
    content: '';
    width: 87%;
    height: 92%;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 200px;
    background-color: $body-color;
  }

  & .widget-scroll-inside {
    z-index: 1;
    position: absolute;
    transform: translateY(13px);
    height: 7px;
    width: 7px;
    background-color: $default-white;
    border-radius: 20px;
    animation: scroll-middle-mouse 2s infinite;
  }
}

.contact-right-container {
  & li {
    padding-left: 25px;
  }

  & ul.contact-ul-pizza {
    margin-left: 30px;
  }
}

button span:hover {
  background: linear-gradient(to left,
      rgb(150, 150, 150),
      $default-white,
      $default-white);
  animation: animate-text-color 1.6s linear infinite;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.product-enter {
  animation: fade-in-three 1s forwards;
}

.product-exit {
  animation: outer 1s forwards;
}

.scroll-reveal-text {
  margin: 20px auto 0px;
  width: fit-content;
  @include fluid-type($min-width, $max-width, $min-font, 20px);
  font-family: $ultra-light-italic-font;
  background: linear-gradient(to left,
      rgb(127, 126, 126),
      $default-white,
      $default-white);
  animation: animate-text-color 5s linear infinite;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.tag-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  grid-gap: 0.7rem;
  width: fit-content;
  margin-bottom: 20px;
}

.tag-element {
  display: grid;
  align-items: center;
  font-family: $ultra-light-italic-font;
  min-width: 50px;
  text-align: center;
  padding: 5px 20px;
  background-color: black;
}

.flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
  font-family: "studio-bold", "roboto-bold";
}

// ---------------------------------------------------------------- Project pages

.breadcrumb {
  width: 100%;

  & ul {
    width: 100%;
    overflow-wrap: break-word;
    margin-bottom: 40px;
    color: $default-white;
  }

  & li {
    font-family: $ultra-light-italic-font;
    display: inline;
    margin: 0 !important;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);

    &:not(:nth-child(1))::before {
      padding: 8px;
      color: $default-white;
      content: '>';
    }

    &:nth-last-child(1)::before,
    &:nth-last-child(1) {
      color: $element-color;
    }
  }
}

footer {
  margin-bottom: 10px;
  font-family: $medium-italic-font;

  & ul {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (pointer: coarse) {
  .cursor {
    display: none !important;
  }
}

@include ipad {
  .tag-container {
    grid-template-columns: repeat(3, minmax(50px, 1fr));
  }
}

@include small-mobile {
  section {
    padding: 25px;
    margin-bottom: 50px;
  }

  code {
    margin-top: 20px;
  }

  .tag-container {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }

  .widget-scroll {
    height: 45px;
    width: 24px;

    & .widget-scroll-inside {
      transform: translateY(9px);
    }
  }

  form button {
    width: initial !important;
    margin-right: 7px !important;
    padding: 17px !important;
  }

  footer {
    padding: 25px;
  }
}

@media (hover: none) {
  button span:hover {
    animation: none;
    -webkit-text-fill-color: unset;
  }
}