@mixin desktop {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin ipad {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin desktop-nav {
  @media (min-width: 764px) {
    @content;
  }
}

@mixin mobile-nav {
  @media (max-width: 763px) {
    @content;
  }
}

// ---------------------------------------------------------------- Font-size adjustments

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}